<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
   <aside class="sidebar">
     <ul>
       <li [routerLink]="['result']">
          <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
          <span>Home</span>
       </li>
       <li [routerLink]="['operator']">
          <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
          <span>Operators</span>
       </li>
     </ul>
   </aside>
  </mat-drawer>
  <mat-drawer-content>   
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


